/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 1rem;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 8px;
    font-size: small;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-radius: 1rem;
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  .tab-details{
    background-color: #ccc;
    border-radius: 1rem;
  }

  .tab-bottons{
    display: flex;
  }

.progress{
    height: 0.625rem;
    background-color: #777;
    position: relative;
    border-radius: 1rem;
    width: 25.2vw;
}

.progress .progress-bar{
   position: absolute;
   height: 100%;
   background-color: #add555;
   width: 1px;
   border-radius: 0.825rem;
   font-size: 0.625rem;
   color: #777;
   text-align: center;
}

  /* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @media screen and (min-width: 380px) {
    .tab button {
      padding: 14px 16px;
      font-size: medium;
    }
}